@model Netzalist.LeadManager.Web.Models.ViewModels.Accounts.LogOnViewModel

@{
    ViewBag.Title = "Anmeldung";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>

<section id="loginForm">
@using (Html.BeginForm(new {ViewBag.ReturnUrl}))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Anmelde Formular</legend>
        <ol>
            <li>
                @Html.LabelFor(m => m.SelectedTenant)
                @Html.DropDownListFor(m => m.SelectedTenant, new SelectList(Model.Tenants, "TenantId", "Name"))
                @Html.ValidationMessageFor(m => m.SelectedTenant)
            </li>
            <li>
                @Html.LabelFor(m => m.UserName)
                @Html.TextBoxFor(m => m.UserName)
                @Html.ValidationMessageFor(m => m.UserName)
            </li>
            <li>
                @Html.LabelFor(m => m.Password)
                @Html.PasswordFor(m => m.Password)
                @Html.ValidationMessageFor(m => m.Password)
            </li>
            <li>
                @Html.CheckBoxFor(m => m.RememberMe)
                @Html.LabelFor(m => m.RememberMe, new {@class = "checkbox"})
            </li>
        </ol>
        <input type="submit" value="Anmelden" />
    </fieldset>
}
</section>
