@model IList<Netzalist.LeadManager.Web.Models.DataModels.Leads.Company>

@{
    ViewBag.Title = "Firmen verwalten";
}

<table style="width:100%">
    <tr>
        <td>
            <h2>Firmen verwalten</h2>
        </td>
        <td style="text-align: right; padding-right:45px;">
                @Html.ActionLink(" ", "Create", null, new { @class="link-addlink", @title="Neue Firma anlegen"})
        </td>
    </tr>

</table>

    
<div style="background-color: white; padding:10px 15px 25px 25px; -ms-border-radius: 10px; border-radius: 10px;  ">
<table style="width:100%;">
    @for(int i=0; i<Model.Count(); i++)
    {
        var item = Model[i];
        <tr>
            <td class="address-text" style="width:1px; white-space: nowrap;">
                <span >@Html.ActionLink(item.Name, "Edit", new { id=item.CompanyId }, new { @class="address-company", @title="Bearbeiten"})</span> <br/>
                @Html.DisplayFor(modelItem => item.Street) @Html.DisplayFor(modelItem => item.HouseNumber)<br/>
                @Html.DisplayFor(modelItem => item.ZipCode)  @Html.DisplayFor(modelItem => item.City)<br/>
                @Html.DisplayFor(modelItem => item.Region) - @Html.DisplayFor(modelItem => item.CountryCode)
            </td>
            <td class="phone-text" style="width:1px; white-space: nowrap;">
                @Html.DisplayFor(modelItem => item.Phone) <br/>
                @Html.DisplayFor(modelItem => item.Fax) <br/>
                <a href="http://@Html.DisplayFor(modelItem => item.Website)">@Html.DisplayFor(modelItem => item.Website)</a> <br/>
                <a href="mailto://@Html.DisplayFor(modelItem => item.Email)">@Html.DisplayFor(modelItem => item.Email)</a> <br/>
            </td>
            <td style="vertical-align:central; text-align: right;">
                @Html.ActionLink(" ", "Edit", new { id=item.CompanyId }, new {@class="link-editlink" , title="Bearbeiten"})
                @Html.ActionLink(" ", "Delete", new { id=item.CompanyId }, new {@class="link-deletelink", title="Löschen"})
            </td>
        </tr>
        if (i < Model.Count-1)
        {
            <tr><td colspan="3" style="height: 10px; border-bottom: rgb(200,200,200) 1px solid;"></td></tr>
            <tr><td colspan="3" style="height: 10px;"></td></tr>
        }
    }

</table>
    </div>
