@using System.Security.Cryptography.X509Certificates
@model Netzalist.LeadManager.Web.Models.DatabaseMigrationModel

@{
    ViewBag.Title = "Database Updates";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>Datenbank aktualisieren.</h2>
</hgroup>


@{ var i = Model.PendingMigrations.Count + Model.AllMigrations.Count; }

<table>


@if (Model.PendingMigrations.Count == 0)
{
    <tr><td colspan="4"><h3>No pending updates</h3></td></tr>
}
else
{
    <tr><td colspan="4"><h3>Pending updates: @Model.PendingMigrations.Count</h3></td></tr>
    
        foreach (var
            nxtChange in Model.PendingMigrations.OrderByDescending(item => item.MigrationString))
        {
            <tr><td>@i.ToString("000")</td><td>@nxtChange.Date</td><td>@nxtChange.Name</td><td>@Html.ActionLink(" <-- Update to this version ", "UpdateSpecific", new { migration = nxtChange.MigrationString }, new { @class = "applyLink" })</td></tr>
            i--;
        }
}

@if (Model.AllMigrations.Count == 0)
{
    <tr><td colspan="4"><h3>No updates in the history</h3></td></tr>
}
else
{
    var current = @Model.AllMigrations.OrderByDescending(item => item.MigrationString).First();
        <tr><td colspan="4"><h3>Current database version</h3></td></tr>
        <tr><td>@i.ToString("000")</td><td>@current.Date</td><td>@current.Name</td><td>&nbsp;</td></tr>

        i--;
        
        <tr><td colspan="4"><h3>History: @(Model.AllMigrations.Count-1) updates to rollback</h3></td></tr>
    
        var first = true;
        foreach (var
            nxtChange in Model.AllMigrations.OrderByDescending(item => item.MigrationString))
        {
            if(first)
            {
                first = false; 
                continue;
            }
            <tr><td>@i.ToString("000")</td><td>@nxtChange.Date</td><td>@nxtChange.Name</td><td>@Html.ActionLink(" <-- Rollback to this version ", "UpdateSpecific", new { migration = nxtChange.MigrationString }, new { @class = "rollbackLink" })</td></tr>
            i--;
        }
}
    
</table>
